<div class="field">
<p id = "notice"><%= notice %></p>

<h2 style= text-decoration:underline; >Parking Slot Finder</h2>

  <br>


  <%= link_to 'New Booking', new_slot_booking_path, class: "btn btn-light" %> |
  <%= link_to 'Slot Booked Details', slot_occupancy_path, class: "btn btn-light" %> |
  <%= link_to ' Vehicle First Entry Times', first_entry_times_path, class: "btn btn-light" %>|
  <%= link_to 'Slot Allocation History', slot_allocation_history_path, class: "btn btn-light" %>

<br><br><br>

  <h4 style= text-decoration:underline; >Your Booked Slots</h4>

  <br>
<% if @slot_bookings.present? %>
  <table class="table table-striped table-hover">
    <thead class="field">
    <tr>
      <th>Slot Number</th>
      <th>Entry Time</th>
      <th>Vehicle Registration Number</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody class="field">

    <% @slot_bookings&.each do |booking| %>
      <tr>
        <td><%= booking.slot.slot_number %></td>
        <td><%= booking.entry_time %></td>
        <td><%= booking.vehicle_registration_number %></td>
        <td><%= booking.phone_number %></td>
        <td><%= button_to "Exit Parking",exit_parking_path(booking),method: :post, class: "btn btn-outline-danger" %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <br>
<% else %>
  <p>No slot bookings found. Please Book Your Slots</p>
<% end %>
  <br>
  <%= link_to 'Home', root_path, class: "btn btn-outline-dark" %>
</div>