<div align="center">

<h1 style= text-decoration:underline;>Filtered Slot Bookings</h1>

  <br>

<%= form_with(url: slot_occupancy_path, local: false, method: :get) do |f| %>
  <%= f.date_field :from_date %>
  <%= f.date_field :to_date %>
  <%= f.submit "Search", class: "btn btn-sm btn-primary" %>
<% end %>

<br><br>

<% if @slot_bookings.present? %>
  <table class="table table-hover">
    <thead class="field">
    <tr>
      <th>Slot Number</th>
      <th>Vehicle Registration Number</th>
      <th>Phone Number</th>
      <th>Entry Time</th>
    </tr>
    </thead>

    <tbody class="field">
    <% @slot_bookings.each do |slot_booking| %>
      <tr>
        <td><%= slot_booking.slot.slot_number %></td>
        <td><%= slot_booking.vehicle_registration_number %></td>
        <td><%= slot_booking.phone_number %></td>
        <td><%= slot_booking.entry_time %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


  <br>

<% else %>
  <p>No slot bookings found for the selected date range.</p>
<% end %>

<br>


<%= link_to 'Back', root_path, class: "btn btn-outline-dark" %>
<br>
  <%= will_paginate @slot_bookings %>

</div>